<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://bakeriesapi20241219123113.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/b13fb2d8-20eb-4982-af0c-16a76e807b55/resourcegroups/BakeriesAPI20241219123113ResourceGroup/providers/Microsoft.ContainerRegistry/registries/BakeriesAPI20241219123303</ContainerResourceId>
    <ContainerResourceName>BakeriesAPI20241219123303</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>bakeriesapi20241219123303.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/b13fb2d8-20eb-4982-af0c-16a76e807b55/resourceGroups/BakeriesAPI20241219123113ResourceGroup/providers/Microsoft.ApiManagement/service/BakeriesAPIapi/apis/BakeriesAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/b13fb2d8-20eb-4982-af0c-16a76e807b55/resourcegroups/BakeriesAPI20241219123113ResourceGroup/providers/Microsoft.Web/sites/BakeriesAPI20241219123113</ResourceId>
    <ResourceGroup>BakeriesAPI20241219123113ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://bakeriesapi20241219123113.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>27b47b45-09b8-4489-abcf-5f569cf48237</ProjectGuid>
  </PropertyGroup>
</Project>